/**
  * Colors
  */

/* header */
$bg-mainnav: #131921;
$bg-nav: #232f3e;
$bg-searchicon: #febd69;
$bg-cartcount: #f08804;

/* body */
$bg-body: #eaeded;

/* product cards */
$text-hover: #c7511f;
$text-link: #007185;
$text-price: #b12704;

/* other */
$transparent-white: rgb(255 255 255 / 24%);
$transparent-black: rgb(0 0 0 / 24%);

.bg-trans {
  background-color: $transparent-white;
}

.bg-trans-dark {
  background-color: $transparent-black;
}

.text-trans {
  color: $transparent-white;
}

.text-trans-dark {
  color: $transparent-black;
}
