/**
 * Images
 */

$img-sprite: 'src/assets/img/nav-sprite-global.png';
$img-header-ads: 'src/assets/img/dl-app.jpg';
$img-star-sprite: 'src/assets/img/star-sprite.png';
$img-login-sprite: 'src/assets/img/login-sprite.png';
