@import 'src/styles/constants/colors';
@import 'src/styles/mixins/button';

$class-name: 'cart';

.#{$class-name} {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  & hr {
    border-color: #eee;
  }

  &__items {
    background: #fff;
    flex: 1 1 auto;
    padding: 2rem 1.5rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
    padding: 1rem 0;
  }

  &__price {
    text-align: right;
    color: #565959;
  }

  &__proceed {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
  }

  &__trust {
    background-image: url('../assets/img/cart-banner.png');
    height: 50px;
  }

  &__buy {
    padding: 20px 20px 30px;
    background-color: #fff;
    height: fit-content;
    text-align: start;
    min-width: 300px;

    @media (max-width: 769px) {
      margin-left: auto;
    }

    &__text {
      font-size: 1.3rem;
      font-weight: 400;
    }

    &__btn {
      @include button;
    }
  }

  &__link {
    color: $text-link !important;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: $text-hover !important;
    }
  }
}

.currency {
  font-size: 10px;
  vertical-align: top;
}

.price {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
