$class-name: 'header';

.#{$class-name} {
  color: white;
  background-color: $bg-nav;
  display: flex;
  flex-direction: column;
  position: relative;
}

.#{$class-name}__main {
  color: white;
  background-color: $bg-mainnav;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  position: static;
  min-width: 768px;
  width: 100%;
  z-index: 198;

  &__logo {
    margin-left: 1px;
    padding: 4px 0 0;
    width: 128px;
    flex-shrink: 0;

    &__sprite {
      display: flex;
      color: white;
      padding: 1px 6px 6px;
      border: 1px solid $bg-mainnav;

      &:hover {
        border: 1px solid #fff;
        border-radius: 2px;
      }

      &__base {
        margin-top: 12px;
        width: 97px;
        height: 30px;
        background: url($img-sprite) -10px -51px;
      }

      &__ext {
        margin-top: 12px;
        background: url($img-sprite) -160px 10px;
        width: 45px;
        height: 40px;
        position: absolute;
        top: 3px;
        left: 75px;
      }

      &__locale {
        color: #fff;
        margin: 12px 0 0 1px;
        font-size: 13.5px;
      }
    }
  }

  &__search {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    overflow: hidden;
    padding: 10px 4px 10px 3px;

    &__bar {
      display: flex;
      flex: 1 1 auto;

      &__drop {
        color: #555;
        background-color: #f3f3f3;
        font-size: 12px;
        border-radius: 4px 0 0 4px;
        border-style: none;
        outline: none;
        padding-left: 5px;
      }

      &__input {
        flex: 1 1 0px;
        outline: none;
        border-style: none;
        padding: 0 10px;
      }

      &__icon {
        width: 45px;
        border-radius: 0 4px 4px 0;
        background: url($img-sprite) 2px -280px;
        background-color: $bg-searchicon;
        cursor: pointer;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1px;
    flex-shrink: 0;

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 8px 9px;
      margin: 7px 0;
      border: 1px solid $bg-mainnav;

      &:hover {
        border: 1px solid #fff;
        border-radius: 2px;
      }

      &__top {
        padding: 0 1px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
      }

      &__bottom {
        font-size: 14px;
        line-height: 15px;
        font-weight: 700;
      }
    }

    &__cart__count {
      position: absolute;
      left: 10px;
      top: 7px;
      width: 41px;
      font-size: 18px;
      font-weight: 700;
      line-height: 16px;
      color: $bg-cartcount;
      text-align: center;

      @media (max-width: 1024px) {
        left: 12px;
      }
    }

    &__cart {
      display: flex;
      flex-direction: row;
      padding: 6px 9px 5px;
    }

    &__cart__icon {
      width: 41px;
      height: 28px;
      background-image: url($img-sprite);
      background-position: -10px -340px;
      margin-top: 6px;

      @media (max-width: 1024px) {
        background-position: -218px -337px;
      }
    }

    &__cart__text {
      display: block;
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      margin-top: 17px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.#{$class-name}__sub {
  display: flex;
  max-height: 39px;
  padding-top: 0;
  margin-top: 0;

  @media (min-width: 1100px) {
    padding-left: 11px;
  }

  &__drop {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 8px 9px;
    cursor: pointer;
    border: 1px solid $bg-nav;

    &:hover {
      border: 1px solid #fff;
      border-radius: 3px;
    }

    &__burger {
      width: 17px;
      height: 14px;
      background: url($img-sprite) -172px -255px;
    }

    &__burgerlabel {
      color: #fff;
      font-weight: 700;
      padding-left: 5px;
    }
  }

  &__items {
    margin: 4px 0;
    padding: 5px 9px;
    white-space: nowrap;
    border: 1px solid $bg-nav;

    &:hover {
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }

  &__ads {
    margin: 0 0 0 auto;
    cursor: pointer;
    background-image: url($img-header-ads);
    width: 400px;
    height: 39px;
  }
}

.nav__fixed {
  position: fixed;
}
