/**
 * mixin for button
 * @param: new, old or grey
 */
@mixin button($type) {
  @if $type != 'new' and $type != 'old' and $type != 'grey' {
    @error 'Button #{$type} must be new, old or grey.';
  }

  width: 100%;
  outline: none;
  margin: 10px 0;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  font-size: 0.9rem;
  color: #0f1111;

  @if $type == 'new' {
    background: #ffd814;
    border-color: #fcd200;

    &:hover {
      background: #f7ca00;
      border-color: #f2c200;
    }
  }

  @if $type == 'old' {
    border-radius: 3px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;

    &:hover {
      background: linear-gradient(to bottom, #f5d78e, #eeb933);
      border-color: #a88734 #9c7e31 #846a29;
    }
  }

  @if $type == 'grey' {
    border-radius: 3px;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;

    &:hover {
      background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
      border-color: #a2a6ac #979aa1 #82858a;
    }
  }
}
